
<div class="row">
    <div class="col-xs-12">
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    
                            <ul *ngIf="x === newclub.name" 

                                 >{{newclub.name}}
                                 <li *ngFor="let player of newclub.players">
                                    {{player}}
                                    <br>
                                     <!-- <div *ngFor="let player of players" >{{player}}
                                  <label>Rating</label>
                                 <input type="text" id="rating" name="rating" 
                                 
                                 > -->
                                 <input type="text" [(ngModel)]="ratingInput[player]" name="first">
                                 
                               
                                 <button (click)="addRating(player)">Add Rating</button>
                                      <br>
                                    </li>
                                  <!-- </div> -->
                                     </ul>
                                     
                    <!-- <button class=" btn btn-success" type="submit" (click)="onClickSubmit()" >Apply</button> -->
                    <button class=" btn btn-danger" type="button" (click)="clear()">clear</button>

                </div>

            </div>
        </form>
    </div>
</div>
<!-- <app-tactic></app-tactic> -->